<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{{ templateBaseUrl }}">
    <title>
      Hello
      {{ context.name }}
    </title>
    <link rel="stylesheet" type="text/css" href="./style.css">
  </head>
  <body>
    <h1>Hello {{ context.name }}</h1>
  </body>
</html>
